@{
    ViewData["Title"] = "Home Page";
}

<!--This is index page which is home page. There is Header and Image of Joel Hilton-->
<div class="lower-position">
    <div class="text-center">
        <h1 class="display-4">The Joel Hilton Film Collection</h1>
    </div>
    <br /><br />
    <div class="text-center">
        <img src="~/image/JoelHiltonHeadshot.jpg" />
        <br />
    </div>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary box-size" asp-controller="Home" asp-action="MovieList">Movie List</a>
</div>