@* @model Collection *@
<!--This is MovieCollection page.-->

<!--Made a form for user to input the records of their favorite movies.
    Also, this is post method when user submit the record. It doesn't show any info in the url.'
-->
@model Movie

<!--Heading-->
<h2>Add Your Favorite Movie</h2>


<!--Create a form for user to put new record-->
<form method="post">
    <!--MovieId is hidden becasue we don't want uset to edit it-->
    <input type="hidden" asp-for="MovieId" />
    <br />

    <label asp-for=CategoryId>Category:</label>
    <br />
    <!--From catefories table, import each value for categoryName and show as select field for user to choose-->
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Category)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br />

    <label asp-for="Title">Title:</label>
    <br />
    <input asp-for="Title"/>
    <br />
    
    <label asp-for="Year">Year:</label>
    <br />
    <input asp-for="Year"/>
    <br />
    
    <label asp-for="Director">Director:</label>
    <br />
    <input asp-for="Director"/>
    <br />
    
    <label asp-for="Rating">Rating: </label>
    <br />
    <select asp-for="Rating"><!--There is four options they can select-->
        <option value="">Select a Rating</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    
    <label asp-for="Edited">Edited: </label>
    <br />
    <input type="radio" asp-for="Edited" value="true" />Yes
    <input type="radio" asp-for="Edited" value="false" />No
    <br />
    
    <label asp-for="LentTo">Lent to: </label>
    <br />
    <input asp-for="LentTo" />
    <br />
    
    <label asp-for="CopiedToPlex">Copied to Plex</label>
    <br />
    <input type="radio" asp-for="CopiedToPlex" value="true" />Yes
    <input type="radio" asp-for="CopiedToPlex" value="false" />No

    <br />
    <label asp-for="Notes">Notes: </label>
    <br />
    
    <textarea asp-for="Notes"></textarea>
    <br />
    
    <!--Create a button to submit the record to database-->
    <button type="submit">Submit</button>

    <!--This is for validation for user input. If it doesn't meet requirements, show error message-->
    <div asp-validation-summary="All"></div>
</form>